<div data-aos="fade-up" class="col-md-7 col-sm-10 container mx-auto mt-5 py-5">
  <div class="col-md-12 col-12 mb-5">
    <h1 class="text-center">"Hier moet nog <br> een
      leuke quote komen over ons"
    </h1>
  </div>
  <hr class="my-5">
  <div data-aos="fade-up" data-aos-delay="400" class="col-md-12 col-12 mb-5">
    <h1>Ons preasidium</h1>
    <div class="col-md-12 col-12 my-5 position-relative">
      <a [routerLink]="['/preasidium']">
        <img class="preasidium-img img-fluid" src="/assets/preasidium-1.jpg">
        <img class="position-absolute metro-icon" src="/assets/icon-metro.svg"/>
      </a>
    </div>
  </div>
  <div data-aos="fade-up" data-aos-delay="400"  class="col-md-12 col-12 mb-5">
    <h1>Over Ons</h1>
    <div class="col-md-12 col-12 my-5 position-relative">
      <a [routerLink]="['/about-us']">
        <img class="preasidium-img img-fluid" src="/assets/cover-1.jpg">
        <img class="position-absolute metro-icon" src="/assets/icon-metro.svg"/>
      </a>
    </div>
  </div>
  <div data-aos="fade-up" data-aos-delay="400"  data-aos-offset="200" class="col-md-12 col-12 mb-5">
    <h1>Evenementen</h1>
    <div class="col-md-12 col-12 my-5 position-relative">
      <a [routerLink]="['/events']">
        <img class="preasidium-img img-fluid" src="/assets/events.jpg">
        <img class="position-absolute metro-icon" src="/assets/icon-metro.svg"/>
      </a>
    </div>
  </div>
</div>
