<div class="bg-hexion pt-5">
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-6 col-md-4 col-sm-6 mt-2">
          <h1 class="">Paginas</h1>
          <p class="footer-link">
            <a class="text-decoration-none text-white" [routerLink]="['/']">Home</a>
          </p>
          <p class="footer-link">
            <a class="text-decoration-none text-white" [routerLink]="['/preasidium']">Preasidium</a>
          </p>
          <p class="footer-link">
            <a class="text-decoration-none text-white" [routerLink]="['/events']">Evenementen</a>
          </p>
          <p class="footer-link">
            <a class="text-decoration-none text-white" [routerLink]="['/about-us']">Over ons</a>
          </p>
        </div>
        <div class="col-6 col-md-4 col-sm-6 mt-2">
          <h1 class="">Social Media</h1>
          <p class="footer-link">
            <a class="text-decoration-none text-white" href="https://www.facebook.com/studentenvereniging.hexion">Facebook</a>
          </p>
          <p class="footer-link">
            <a class="text-decoration-none text-white" href="https://www.instagram.com/studentenvereniginghexion/">Instagram</a>
          </p>
        </div>
        <div class="col-12 col-md-4 col-sm-12 mt-2">
          <h1 class="">Sponsors</h1>
          <p class="footer-link d-md-flex row flex-md-wrap flex-lg-wrap justify-content-evenly">
            <img src="/assets/sponsors/entr_media.png" alt="ENTRMedia Logo"
                 class="col-lg-4 col-md-4 col-sm-3 p-3 m-1 object-fit-contain bg-transparent">
            <img src="/assets/sponsors/connect_ways.png" alt="Conntect Ways"
                 class="col-lg-4 col-md-4 col-sm-3 p-3 m-1 object-fit-contain bg-transparent">
            <img src="/assets/sponsors/logocegeka.png" alt="cegeka LOGO "
                 class="col-lg-4 col-md-4 col-sm-3 p-3 m-1 object-fit-contain bg-transparent">
            <img src="/assets/sponsors/stuvo.png" alt="pxl stuvo LOGO"
                 class="col-lg-4 col-md-4 col-sm-3 p-3 m-1 object-fit-contain bg-transparent">
            <img src="/assets/sponsors/we-fynd.png" alt="we fynd LOGO"
                 class="col-lg-4 col-md-4 col-sm-3 p-3 m-1 object-fit-contain bg-transparent">
            <img src="/assets/sponsors/nalu-logo-v2.png" alt="nalu LOGO"
                 class="col-lg-4 col-md-4 col-sm-3 p-3 m-1 object-fit-contain bg-transparent">
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center text-white-50 p-2">
    Copyright © 2024 All Rights Reserved by
    <strong>
      Studentenvereniging Hexion.
    </strong>
    <br>
    Designed By: <strong>Entr Media</strong>
    Developed By: <strong>Emre</strong>
  </div>
</div>

