.bg_hx {
    background-image: linear-gradient(rgba(37, 144, 59, 0.75), rgba(37, 144, 59, 0.75)), url("/assets/moederbord.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.cover {
    height: 300px;
    z-index: 1;
}


.pos-2 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    transform: translate(+25%, -20%)
}


.monogram {
    height: 60px;
}

h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}
