<div class="bg_hx py-5">
  <div class="conainer-sm">
    <div class="m-4">
      <img class="monogram" src="/assets/monogram.png">
    </div>
    <div class="d-flex flex-wrap mx-auto mt-5">
      <div class="col-md-6 m-4 col-10 d-flex justify-content-end">
        <h1 class="display-1 text-start about-header text-white">Welkom bij
          <br>
          <span class="text-dark">Hexion</span>
        </h1>
      </div>
      <div class="col-md-3 m-4 col-10 d-flex justify-content-center">
        <img src="/assets/schild.png" alt="schild" class="schild-img"/>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div data-aos="fade-up" data-aos-duration="400" class="col-md-12 my-5">
    <h1 class="my-5 display-4 text-center">Over ons</h1>
    <div class="d-flex flex-wrap justify-content-center">
      <div class="col-md-4 col-10 text-center mb-5">
        <img src="/assets/schild.png" class="schild-img">
      </div>
      <div class="col-md-8 col-10 mb-5">
        <p>In 2013 verrees Hexion in Hasselt, als de
          ultieme thuishaven voor digitale pioniers
          van PXL-DIGITAL. We zijn de bruisende
          verbinding tussen academische kennis en
          het levendige studentenleven. Als een
          gepassioneerde gemeenschap van
          informaticastudenten zijn we vastbesloten
          om opwindende projecten te realiseren,
          inspirerende seminars te organiseren en
          onze leden te begeleiden naar een
          veelbelovende toekomst in de zakelijke
          wereld. Bij Hexion staan we altijd voor
          je klaar, ongeacht je behoeften, met
          ongeëvenaarde ondersteuning en een flinke
          dosis inspiratie.</p>
      </div>
    </div>
  </div>
  <div class="col-md-12 my-5">
    <h1 class="my-5 display-4 text-center">
      Onze Sponsors
    </h1>
    <div class="d-flex flex-wrap justify-content-center mt-5">
      <img data-aos="fade-up" data-aos-duration="400" data-aos-delay="200" src="/assets/sponsors/entr_media.png"
           alt="ENTRMedia Logo"
           class="col-md col-8 p-3 m-1 img-thumbnail object-fit-contain">
      <img data-aos="fade-up" data-aos-duration="400" data-aos-delay="300"
           src="/assets/sponsors/connect_ways.png"
           alt="Conntect Ways"
           class="col-md col-8 p-3 m-1 img-thumbnail object-fit-contain">
      <img data-aos="fade-up" data-aos-duration="400" data-aos-delay="400" src="/assets/sponsors/logocegeka.png"
           alt="cegeka LOGO "
           class="col-md col-8 p-3 m-1 img-thumbnail object-fit-contain">
      <img data-aos="fade-up" data-aos-duration="400" data-aos-delay="500" src="/assets/sponsors/stuvo.png"
           alt="pxl stuvo LOGO"
           class="col-md col-8 p-3 m-1 img-thumbnail object-fit-contain">
      <img data-aos="fade-up" data-aos-duration="400" data-aos-delay="600" src="/assets/sponsors/we-fynd.png"
           alt="we fynd LOGO"
           class="col-md col-8 p-3 m-1 img-thumbnail object-fit-contain">
      <img data-aos="fade-up" data-aos-duration="400" data-aos-delay="700"
           src="/assets/sponsors/nalu-logo-v2.png"
           alt="nalu LOGO"
           class="col-md col-8 p-3 m-1 img-thumbnail object-fit-contain">
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="col-md-12 my-5">
    <h1 class="display-3 my-5 text-center secret" (click)="DownloadFile()">De statuten</h1>
    <div data-aos="fade-up" data-aos-duration="400" data-aos-delay="200" class="d-flex justify-content-center">
      <a href="/assets/files/Hexion_Statuten_2022_SkipDoetWeerKut_MAAR_MET_EDITS.pdf">
        <img src="/assets/statuten.png" alt="statuten" class="rounded-5 img-statuten">
      </a>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="col-md-12 my-5">
    <h1 class="display-3 my-5 text-center">
      Lied
    </h1>
    <div data-aos="fade-up" data-aos-duration="400" data-aos-delay="200" data-aos-offset="200"
         class="col-md-12 col-10 mb-5 mx-auto">
      <div class="d-flex justify-content-center flex-wrap">
        <div class="col-12 text-center">

          <p>
            Een informaticus is lui dat weet iedereen
            <br>
            En toch heeft hij steeds massa's werk
            <br>
            Uiterst geniaal ja dat zie je meteen
            <br>
            Wie had ooit gedacht oh zo sterk
            <br>
            In de nacht werkt hij door tot de zon weer op komt
            <br>
            Geen teken van leven, maar toch kerngezond
            <br>
            <br>
            De informaticus leeft, hij is hier!
            <br>
            De informaticus leeft, geef hem bier!
            <br>
            <br>
            Hexion beveelt je gooi open je poort
            <br>
            Een informaticus wenst een netwerk
            <br>
            Xie hij verlangt naar een digitaal oord
            <br>
            ('t) Internet dat is zijn strijdperk
            <br>
            Open of er wordt een virus verspreid
            <br>
            Nee je systeem is hier
            niet mee gevleid
            <br>
            <br>
            Hexion eist toegang, geef hier!
            <br>
            Hexion heeft toegang, geef bier!
          </p>
        </div>
        <div class="col-12 text-center mt-4">
          <audio controls>
            <source
              src="/assets/lied.mp3"
              type="audio/mpeg"
            />
          </audio>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
