.bg_hx {
    background-image: linear-gradient(rgba(37, 144, 59, 0.75), rgba(37, 144, 59, 0.75)), url("/assets/img-aboutus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


.monogram {
    height: 60px;
}

.schild-img {
    object-fit: contain;
    max-width: 60%;
    max-height: 350px;
    height: auto;
}

.about-header {
    width: fit-content;
}


h1 {
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.img-statuten {
    width: 100%;
    object-fit: contain;
}

.secret:hover {
    cursor: pointer;
}
