.modal-person {
  display: none;
}

.modal-background {
  background: rgba(37, 144, 59, 1);
  box-sizing: border-box;
}

.modal-img {
  max-height: 300px;
  object-fit: contain;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
}

